@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f8fafc;

  --color-cyan: #10b981;
  --color-orange: #2dd4bf;
  --color-card-bg: #171717;
  --color-card-border: #171717;
  --color-hover-bg: #171717;
}

/* * {
  border: 1px solid red;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);

  --color-cyan-500: var(--color-cyan);
  --color-orange-500: var(--color-orange);
  --color-card: var(--color-card-bg);
  --color-border: var(--color-card-border);
  --color-hover: var(--color-hover-bg);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}
